.App {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
}
nav {
    background-color: black;
    margin: 0px;
    margin-bottom: 32px;
    
}
nav p {
    padding: 24px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin: 0px;
    
}
.allTable {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
td:nth-child(2) {
  width: 900px;
}

td:nth-child(3) {
  width: 200px;
}

th {
  text-align: left;
  padding: 8px 35px;
  border: 1px solid gray;
}

td {
  padding: 8px 10px;
  border: 1px solid gray;
}
table {
  justify-content: center;
  width: 50%;
  table-layout: auto;
  gap: 75px;
  border-collapse: collapse;
}

.heading {
  gap: 95px;
  text-decoration: underline;
}

.AdditionalForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  
}

input {
  width: 25%;
  padding: 10px;
  border: 1px solid gray;
  font-size: large;
  border-radius: 4px;

}
.form-heading {
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.submit-form {
  padding: 10px 16px;
  border-radius: 4px;
  margin: 6px;
  font-size: 1em;
  background-color: black;
  color: #fff;
  border: none;
  text-transform: capitalize;
  margin-bottom: 32px;
  
}
.delete-form {
  padding: 8px 16px;
  font-size: 0.8em;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 48px;
}

.transactions-heading {
  text-align: center;

  
}
.Search-bar  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 35px;
    

}
.search-box input { 
    flex-grow: 1;
    border: 0px;
    outline: none;


}
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    border: 1px solid gray;
    

}
.search-box i { 
padding: 0 15px;
}